*
{
    color: black;
    text-shadow: none;
}
body
{
    background: none;
}

::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
{
    color: black;
}
:-ms-input-placeholder /* Internet Explorer 10-11 */
{
    color: black;
}
::-ms-input-placeholder /* Microsoft Edge */
{
    color: black;
}

.btnClassic
{
    background-color: white;
    border-color: black;
}

.form-control, table tr
{
    background-color: white;
    border-color: black;
    color: black;
}

table
{
    border: 1px solid black;
}

#formAddPatho .row
{
    flex-flow: column wrap;

}
.nowrapLabel
{
    align-self: flex-start;
}

#menu, footer, .pagination, #buttonGoToAjoutPatho
{
    display: none;
}

#contentLogin .row
{
    flex-flow: column wrap;
}

.loginRegisterDiv
{
    width: 100%;
}

#register
{
    border-top: thick double;
    border-image: linear-gradient(white, black, white) 40;
    padding-top: 1vw;
    border-left: none;
}

.btn-primary
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}