/*
general
*/
.content
{
    margin-top: 40vw;
    margin-left: 0;
    margin-bottom: 17vh;
}
.btnClassic
{
    width: 88vw;
}
.pagination li
{
    margin: 0.5vw;
}
.alertDanger,
.alertError,
.alertInfo,
.alertSuccess
{
    padding-left: 5vw;
    padding-right: 5vw;
}
/*
menu
*/
#menu ul
{
    /*flex-flow: column wrap;*/
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 40vw;
}
/*
Pathologies
*/
table { border: 0; }

table thead tr { display: none; }
#ligneFilterTabl
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

table tr
{
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
}
table td
{
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
}
table td:before
{
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}
table td:last-child { border-bottom: 0; }
/*
Detail Pathologie
 */
.rowPathoDetail
{
    flex-flow: column wrap;
}
.rowPathoDetail .bold
{
    margin-right: 5vw;
    white-space: nowrap;
    text-decoration: underline;
}
#contentLogin .row
{
    flex-flow: column wrap;

}
.loginRegisterDiv
{
    width: 100%;
}
/*
login
 */
#register
{
    border-top: thick double;
    border-image: linear-gradient(white, black, white) 40;
    padding-top: 1vw;
    border-left: none;
}

#formAddPatho .row
{
    flex-flow: column wrap;

}

.nowrapLabel
{
    align-self: flex-start;
}



#canvasDivAccueil
{
    display: none;
}


footer .row
{
    flex-flow: column wrap;

}