/*
Général
* color : #d7af00
nav background-color:#323232;
body background-color:#424242;
input background-color = #525252
*/

*
{
    color: #d7af00;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}
body
{
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#424242;
    background-size:5px 5px;


}
::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
{
    color: #d7af00;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder /* Internet Explorer 10-11 */
{
    color: #d7af00;
}
::-ms-input-placeholder /* Microsoft Edge */
{
    color: #d7af00;
}
.content
{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vw;
    /*min-height: 70vh;*/

}
.pagination
{
    display: flex;
    justify-content: center;
    list-style:none;
    text-align: center;
}
.pagination li
{
    margin-left: 1vw;
    margin-right: 1vw;
}
.bold
{
    font-weight: bold;
}
.row
{
    display: flex;
    margin-bottom: 1vw;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1em;
    border-radius: 4px;
}
.btn-primary
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btnClassic
{
    background-color: #525252;
    border-color: #d7af00;
}
.form-control
{
    display: block;
    width: 95%;
    height: 6vh;
    padding: 6px 12px;
    font-size: 1em;
    color: #d7af00;
    background-color: #525252;
    background-image: none;
    border: 1px solid #d7af00;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.form-control:focus
{
    border : 1px solid #fbff00;
    outline : none;
}

.alertDanger,
.alertError{
    color: #d7af00;
    background-color: rgba(242, 51, 43, 0.71);
    border-color: #eed3d7;
}

.alertInfo {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alertSuccess {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    min-height: 5vh;
    /*max-height: 8vh;*/
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#424242;
    background-size:5px 5px;

}
.changeTheme
{
    padding: 6px 12px;
    font-size: 1em;
    color: #d7af00;
    background-color: #525252;
    background-image: none;
    border: 1px solid #d7af00;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    margin-left: 1vw;
}
.copyleft
{
    display:inline-block;
    transform: rotate(180deg);
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgb(170, 137, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-track-piece
{
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#424242;
    background-size:5px 5px;
}

.displayPartiel
{
    display: none;
}

    /*
     menu
    */
nav
{
    position: fixed;
    height: 4vw;
    width: 100%;
    top: 0;
    left: 0;
}
#menu ul {
    margin: 0px;
    padding: 0px;
    list-style:none;
    max-height: 8vw;

    display: flex;
    flex-direction : row;
    justify-content: space-around;


    -webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);

    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#323232;
    background-size:7px 7px;
}
#menu a {
    padding: 1em;
    display: block;
    text-align:center;
    text-decoration: none;
}
#navTitle
{

    font-family: 'Clicker Script', cursive;
    padding-top: 1vw;
    font-size: 1.5em;
    line-height: 0.5em;

}
/*
Accueil
*/
#contentAccueil
{
    margin-left: 10vw;
    margin-right: 10vw;
}
#canvasDivAccueil
{
    position: absolute;
    bottom: 5vw;
    left: 42vw;
}
/*
Pathologies
*/
table
{
    border: 1px solid #d7af00;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top:5vh;
}
table tr
{
    background: #555555;
    border: 1px solid #d7af00;
    padding: .35em;
}
table th, table td
{
    padding: .625em;
    text-align: center;
}
table th
{
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.ligneTitreTable
{
    cursor: pointer;
}

#buttonGoToAjoutPatho
{
    margin-bottom: 8vh;
}
#resetFilter
{
    cursor: pointer;
}
/*
Detail Pathologie
 */
.rowPathoDetail
{
    display: flex;
    justify-content: flex-start;
    margin-left: 25vw;
}
.rowPathoDetail .bold
{
    margin-right: 5vw;
    white-space: nowrap;
    width: 10vw;
}
.listInfoDetailPatho
{
    padding-left: 1vw;
}
/*
Login / register
 */

.loginRegisterDiv
{
    width: 49%;

}
#register
{
    border-left: solid 1px;
    border-image: linear-gradient(white, black, white) 30;
}
.flexCenter
{
    justify-content: center;
}
.formLogins div
{
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 4vw;
}
.loginLegend
{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 0;
}
.loginError
{
    width : 95%;
}
/*
addPatho
 */

.nowrapLabel
{
    white-space: nowrap;
    margin-right: 1vw;
    align-self: center;
    width: 5vw;
}

#buttonAjoutPatho
{
    min-height: 2vw;
    margin-top: 1vw;
}

.inputAddPatho
{
    margin-bottom: 3vw;
}