{% extends'template.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section id="contentAccueil" class="content">
    <h1>{{ rss.title }}</h1>
    <p>{{ rss.item }}</p>
    <div  id="canvasDivAccueil">
        <canvas id="canvas">
            <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour</p>
        </canvas>
    </div>
</section>
{% endblock %}