{% extends 'template.html.twig' %}

{% block title %}Ajouter une pathologie{% endblock %}

{% block body %}
<section id="contentAddPatho" class="content">
    <div class="row flexCenter">
        <h1>Ajout de Pathologie</h1>
    </div>
    <form id="formAddPatho" action="controllerAChanger">
        <div class="row inputAddPatho">
            <label for="inputMeridien" class="nowrapLabel">Méridien : </label>
            <input type="text" class="form-control" id="inputMeridien" name="inputMeridien">
        </div>
        <div class="row inputAddPatho">
            <label for="inputType" class="nowrapLabel">Type : </label>
            <input type="text" class="form-control" id="inputType" name="inputType">
        </div>
        <div class="row inputAddPatho">
            <label for="inputDescription" class="nowrapLabel">Description : </label>
            <input type="text" class="form-control" id="inputDescription" name="inputDescription">
        </div>
        <div class="row flexCenter">
            <button class="btn btnClassic" id="buttonAjoutPatho" name="buttonAjoutPatho" >Ajouter Patologie</button>
        </div>

    </form>

</section>

{% endblock %}