{% extends'template.html.twig' %}

{% block title %}A Propos {% endblock %}

{% block body %}

<section id="contentAPropos" class="content">

    <h1>Équipe</h1>
    <p id="descriptionEquipe">
        Nous sommes des élèves de CPE et nous réalisons ce site web dans le but d'un projet de M.Bruno MASCRET
    </p>
    <h1>Projet</h1>
    <p id="descriptionProjet">
        Ce projet a pour but de réaliser un site web grâce aux langages PHP, HTML, CSS, JS en tenant compte de l'accessibilité.
    </p>
    <h1 id="listeWebo">Webographie</h1>
    <table aria-labelledby="listeWebo" aria-describedby="descriptonTabWebo">
        <caption class="displayPartiel" id="descriptonTabWebo">Liste des sites qui nous ont été utiles pour le développement de notre site</caption>
        <thead>
        <tr class="ligneTitreTable">
            <th scope="col">TitreSite</th>
            <th scope="col">url</th>
            <th scope="col">utilisation</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
        <tr>
            <td data-label="TitreSite">{{site.titre}}</td>
            <td data-label="url"><a href="https://{{ site.url }}">{{site.url}}</a></td>
            <td data-label="utilisation">{{site.utilisation}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}
