{% extends 'template.html.twig' %}

{% block title %}Pathologies Détails{% endblock %}

{% block body %}

<section id="contentPathologieDetail" class="content">
    {# <h1>{{pathologie.titre}}</h1>
    <div class="rowPathoDetail">
        <p class="bold">Titre : </p>
        <p>Voici le titre de la pathologie</p>
    </div>#}
    <div class="rowPathoDetail">
        <p class="bold">Méridien : </p>
        <ul class="listInfoDetailPatho">
            <li>Nom : {{pathologie.meridien.nom}}</li>
            <li>Élement : {{pathologie.meridien.element}}</li>
            <li>Yin : {{pathologie.meridien.yin}}</li>
        </ul>
    </div>
    <div class="rowPathoDetail">
        <p class="bold">Type : </p>
        <p>{{pathologie.type}}</p>
    </div>
    <div class="rowPathoDetail">
        <p class="bold">Description : </p>
        <p>{{pathologie.description}}</p>
    </div>
    <div class="rowPathoDetail">
        <p class="bold">Symptômes : </p>
        <ul class="listInfoDetailPatho">
        {% for symptome in pathologie.symptomes %}
            <li>{{symptome.desc}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="rowPathoDetail">
        <p class="bold">Liste de mots clés : </p>
        <ul>
            {# TODO : Lister les mots clés #}
        </ul>
    </div>
</section>
{% endblock %}
