{% block footer%}

<div class="row flexCenter">
    <p>
        <span class="copyleft">©</span>
        CopyLeft NotFromScratch - Acuponcture 2019
    </p>
    <label for="flip-1" class="displayPartiel">Changer le thème : </label>
    <select name="flip-1" id="flip-1" class="changeTheme" data-role="slider">
        <option value="style">Clair</option>
        <option selected="selected" value="styleDark">Contraste élevé</option>
    </select>
</div>
<script src="/js/footer.js"></script>
{% endblock %}