{% extends'template.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section id="contentLogin" class="content">

    <div class="row flexCenter">
        <div id="login" class="loginRegisterDiv">
            <form class="formLogins" method="POST" action="/login">
                <h1 class="loginLegend">Connexion</h1>
                <div>
                    <label for="loginConnexion">Login connexion :</label>
                    <input class="form-control" type="text" placeholder="Renseignez votre login" id="loginConnexion" name="loginConnexion" required
                        {% if loginLogin %}
                            value={{ loginLogin }}
                        {% endif %}
                     />
                    {% for errorMessage in errorsLogin.login %}
                        <p class="alertDanger loginError">{{ errorMessage }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="passwordConnexion">Mot de passe connexion :</label>
                    <input class="form-control" type="password" placeholder="Renseignez votre mot de passe" id="passwordConnexion" name="passwordConnexion" required />
                    {% for errorMessage in errorsLogin.password %}
                        <p class="alertDanger loginError">{{ errorMessage }}</p>
                    {% endfor %}
                </div>
                <div class="row flexCenter">
                    <button class="btn btnClassic" id="buttonConnexion">Connexion</button>
                </div>
            </form>
        </div>

        <div id="register" class="loginRegisterDiv">
            <form class="formLogins" method="POST" action="/inscription">
                <h1  class="loginLegend">Inscription</h1>
                <div>
                    <label for="loginInscription">Login inscription :</label>
                    <input class="form-control" type="text" placeholder="Renseignez votre login souhaité" id="loginInscription" name="loginInscription" required
                        {% if loginRegister %}
                           value={{ loginRegister }}
                        {% endif %}
                     />
                    {% for errorMessage in errorsRegister.login %}
                        <p class="alertDanger loginError">{{ errorMessage }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="emailInscription">Email inscription :</label>
                    <input class="form-control" type="text" placeholder="Renseignez votre email souhaité" id="emailInscription" name="emailInscription" required
                        {% if emailRegister %}
                           value={{ emailRegister }}
                        {% endif %}
                     />
                    {% for errorMessage in errorsRegister.email %}
                        <p class="alertDanger loginError">{{ errorMessage }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="passwordInscription">Mot de passe inscription :</label>
                    <input class="form-control" type="password" placeholder="Renseignez votre mot de passe souhaité" id="passwordInscription" name="passwordInscription" required/>
                    {% for errorMessage in errorsRegister.password %}
                        <p class="alertDanger loginError">{{ errorMessage }}</p>
                    {% endfor %}
                </div>
                <div class="row flexCenter">
                    <button type="submit" class="btn btnClassic" id="buttonInscription">Inscription</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}