<nav id="menu">
    <ul>
        <li id="navTitle" >NFS - Acuponcture</li>
        <li><a href="/" tabindex="1">Accueil</a></li>
        <li><a href="/pathologies" tabindex="2">Pathologies</a></li>
        <li><a href="/apropos" tabindex="3">A propos</a></li>
        {% if session.isConnected %}
            <li><a href="/logout" tabindex="4">Deconnexion</a></li>
        {% else %}
            <li><a href="/connexion" tabindex="4">Connexion</a></li>
        {% endif %}
    </ul>
</nav>
