{% extends 'template.html.twig' %}

{% block title %}Pathologies{% endblock %}

{% block body %}
<section id="contentPathologies" class="content">
    <h1 id="listePathologies">Liste des Pathologies</h1>
    {% if session.isConnected %}
    <div class="row">
        <input type="text" id="rechercheInput" class="form-control" placeholder="Recherche">
        <button class="btn btnClassic" id="buttonResearch" name="buttonResearch" >Recherche</button>
    </div>
    {% endif %}
    <table aria-labelledby="listePathologies" aria-describedby="descriptonTabPatho">
        <caption class="displayPartiel" id="descriptonTabPatho">Liste recensant l'ensemble des pathologies</caption>
        <thead>
        <tr id="ligneTitreFilter" class="ligneTitreTable">
            <th scope="col" data-triName="idP">ID</th>
            <th scope="col" data-triName="mer"><label data-triName="mer" for="meridienListFilter">Meridien</label></th>
            <th scope="col" data-triName="type"><label data-triName="type" for="typeListFilter">Type</label></th>
            <th scope="col" data-triName="desc"><label data-triName="desc" for="descriptionListFilter">Description</label></th>
            <th scope="col">Detail</th>
        </tr>
        <tr id="ligneFilterTabl" class="ligneFilterTable">
            <th scope="col"></th>
            <th scope="col">
                <select class="form-control" name="meridienListFilter" id="meridienListFilter">
                    <option value="">choisir le meridien</option>
                    {% for meridien in meridiens %}
                        <option value="{{ meridien.data.code }}">{{ meridien.data.nom }}</option>
                    {% endfor %}
                </select>
            </th>
            <th scope="col">
                <select class="form-control" name="typeListFilter" id="typeListFilter">
                    <option value="">Choisir le type</option>
                    {% for type in types %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </th>
            <th scope="col">
                <input id="descriptionListFilter" class="form-control" placeholder="Renseigner une description" type="text" name="descFilter">
            </th>
            <th scope="col"><p id="resetFilter">Reset</p></th>
        </tr>
        </thead>
        <tbody id="tbodyPathologies">
        {% for pathologie in pathologies %}
        <tr>
            <td data-label="ID">{{pathologie.data.idP}}</td>
            <td data-label="Meridien">{{pathologie.data.mer}}</td>
            <td data-label="Type">{{pathologie.data.type}}</td>
            <td data-label="Description">{{pathologie.data.desc}}</td>
            <td data-label="Detail"><a href="/pathologies/{{pathologie.data.idP}}">Voir le detail</a></td>
        </tr>
        {% endfor %}


        </tbody>
    </table>

    <ul class="pagination">
        <li><a href="{{ urlPrevious }}">&lt; Previous</a></li>
        <li>Page {{ page }}</li>
        <li><a href="{{ urlNext }}">Next &gt;</a></li>
    </ul>

    <div class="row flexCenter">
        <button class="btn btnClassic" id="buttonGoToAjoutPatho" name="buttonGoToAjoutPatho" >Ajouter pathologie</button>
    </div>

</section>
{% endblock %}