<!doctype html>
<html lang="fr">

<head>
    <title>AAA NFS TLI - {% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link id="themeLink" rel="stylesheet" type="text/css" href="/css/styleDark.css">
    <link rel="stylesheet" type="text/css" href="/css/impression.css" media="print">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="/css/mobilStyle.css" />
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link href="/fonts/clickerScript.css" rel="stylesheet">
    <link href="/fonts/Roboto.css" rel="stylesheet">
    <script src="/js/init.js"></script>
</head>

<body>
    {% include 'navbar.html.twig' %}
    {% block body %}{% endblock %}
    <footer>
        {{ block("footer", "footer.html.twig") }}
    </footer>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
